---
interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<a href="/" aria-label="ITOPTS home" class:list={['flex items-center group', className]}>
  <img
    src="/images/itoptslogo.png"
    alt="ITOPTS"
    width="220"
    height="143"
    class="h-11 lg:h-14 w-auto object-contain"
    loading="eager"
    fetchpriority="high"
  />
</a>
